@{
    ViewBag.Title = "Login Failure";
}
<header style="background-color: black; display: block; height: 60px"></header>
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
